header {
    width:  100%;
    height: 100px;
    padding: 0 10px;
}

#logo {
    vertical-align: baseline;
    width: 1.3rem;
    height: 1.3rem;
}

.container-fluid {
    padding-right: 10px;
}

.nav-link {
    font-size: .8rem;
    color: rgb(80, 80, 80);
}

.nav-link:hover {
    color: rgb(29, 29, 29);
}

.bi-bag {
    position: relative;
}

.bi-bag span {
    background-color: #343434;
    color: #fff;
    border-radius: 40px;
    font-size: .6rem;
    width: 10px;
    text-align: center;
    position: absolute;
    right: -5px;
    top: -1px;
}

.navbar-toggler {
    border: none;
    border-radius: none;
    padding: 0;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-nav{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(255, 255, 255);
    width: 100%;
    position: relative;
    z-index: 1000;
}

.navbar-collapse {
    background-color: #ffffff;
    z-index: 1;
}

.nav-item {
    display: flex;
    align-items: center;
}

.navbar-toggler-icon {
    width: 1.3em;
    height: 1.3em;
}

.bi-list, .bi-apple {
    font-size: 2rem;
    cursor: pointer;
}
