header {
    width: 100%;
    height: 50px;
    margin: 0 25px 50px;
}

.menu {
    display: flex;
    flex-direction: row;
    padding: 15px 0 10px;
}

.menu__listas {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.menu__listas li {
    cursor: pointer;
}

.text-listas {
    font-size: .750rem;
    font-weight: 300;
}

.text-listas:hover {
    color: #343434;
}

.bi-apple, .bi-search, .bi-bag{
    font-size: 1.1rem;
    font-weight: bold;
}

.bar-reverse {
    display: none;
}

.bi-bag {
    position: relative;
}

.bi-bag span {
    background-color: #343434;
    color: #fff;
    border-radius: 40px;
    font-size: .6rem;
    padding: 1px;
    width: 10px;
    text-align: center;
    position: absolute;
    right: -5px;
    top: -1px;
}