@media screen and (max-width: 970px){
    #imagem-visualizacao {
        width: 400px;
    }
}

@media screen and (max-width: 835px){
    #imagem-visualizacao {
        width: 300px;
    }
    .main__infos h1 {
        font-size: 1.5rem;
        width: 250px;
    }
    
}

@media screen and (max-width: 720px){
    .main__container {
        gap: 0;
    }
    .main__infos {
        width: 17rem;
    }
    .navbar-nav {
        margin-bottom: 15px !important;
    }
}

@media screen and (max-width: 610px){
    .selecao__tamanho ul {
        display: flex;
        gap: 10px;
        flex-direction: column;
    }
    .main__infos {
        width: 15rem;
    }
    #imagem-visualizacao {
        width: 200px;
    }
    .main__infos h1 {
        font-size: 1.3rem;
        width: 220px;
    }
    .main__cores ul li {
        margin: 0; 
    }
}

@media screen and (max-width: 480px){
    .main__container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    #visualizacao {
        margin-left: 0px;
    }
    #imagem-visualizacao {
        width: 280px;
    }
    .main__infos h1 {
        font-size: 1.8rem;
        width: 280px;
        margin-top: 1rem;
    }
    .main__infos {
        width: 17rem;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .selecao__tamanho ul li label {
        width: 6rem;
    }
    .tamanho-info {
        width: 250px;
    }
    .selecao__tamanho ul {
        display: flex;
        gap: 10px;
        flex-direction: row;
    }
    .main__cores ul li {
        margin: 0 0.5rem 0.5rem 0;
    }
}